.img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

.Keyimg {
    /* display: flex; */
    margin-left: auto;
    margin-right: auto;
    max-width: 15%;
    height: auto;
} 
.ultype{
    list-style-type: disc;
}

thead{
    background-color: rgb(136, 170, 77);
    color:rgb(4, 75, 39);
}
table{
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse:collapse;
    border-spacing: 1cm;
    border-width: 10px;
    border: 2px solid rgb(29, 114, 71);
    /* margin-left: auto; */
    /* margin-right: auto; */
}
tr{
    border-bottom: 1px solid rgb(29, 114, 71);
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td{
    text-align: center;
}

caption{
    font-style:oblique;
    text-align: left;
    font-size: 24px;
}
.ah3{
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(145, 233, 171);
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-top: 5px;  
}